/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}
#display{
    font-size: 2rem;
    color: blue;
}
body {
    margin: 0; 
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
button {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    border: 0;
    background: gray;
    color: white;
}
input {
    width: 5rem;
    height: 2.75rem;
    border: 3px solid gray;
    border-radius: .5rem;
}